.modal_form {
  width: 600px;
  height: 600px;
  border-radius: 5px;
  border: 3px #000 solid;
  background: #fff;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px;
  display: none;
  opacity: 0;
  z-index: 5;
  padding: 20px 10px;
  overflow: auto;
}

.modal_form #modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block;
}

#overlay {
  z-index:3;
  position:fixed;
  background-color:#000;
  opacity:0.8;
  -moz-opacity:0.8;
  filter:alpha(opacity=80);
  width:100%;
  height:100%;
  top:0;
  left:0;
  cursor:pointer;
  display:none;
}
a.recipe_name {
  color: #dfdfdf;
  font-size:20px;
}

.button.small.categories {
  background-color: gold;
  opacity: 0.5;
  display: table-cell;
  color: #676767;
}

.button.small.categories:hover {
  background-color: chartreuse;
}

.category_panel{
  width: 100%;
  display: table;
}

#search{
  position: absolute;
  width: 80%;
  background-color: #888888;
  opacity: 0.8;
  bottom: 0px;
}

#submit_search{
  position: absolute;
  width: 10%;
  bottom: 0px;
  right: 5%;
  height: 30px;
  padding-top: 7px;
  background-color: #262626;
  opacity: 0.8;
}

#submit_search:hover{
  background-color: #444444;
}

.search_form{
  position: absolute;
  width: 100%;
  bottom: 0px;
}
