- if user_signed_in?
  .menu
    = link_to "<i class='fi-shopping-cart menu'></i>".html_safe, baskets_path, class: "button secondary small menu"
    = link_to "<i class='fi-heart menu'></i>".html_safe, likes_path, class: "button secondary small menu"
